extends template.pug

block content
    table
        thead
            tr
                th expires
                th accounting code
                th applications
                th tags
        tbody
            each license in licenses
                tr
                    td #{license.expires.toDateString()}
                    td #{license.accountingCode}
                    td #{license.applications.map(({name})=>name).join(", ")}
                    td
                        ul
                            each entry in Object.entries(license.tags)
                                li #{entry[0]}: #{entry[1].values.join(", ")}
